@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Zen+Dots&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

$hamburger-padding-x           : 15px !default;
$hamburger-padding-y           : 13px !default;
$hamburger-layer-width         : 36px !default;
$hamburger-layer-height        : 3px !default;
$hamburger-layer-spacing       : 6px !default;
$hamburger-layer-color         : #fff !default;
$hamburger-hover-opacity       : 0.9 !default;

@import "public/hamburgers/hamburgers.scss";

:root {
    // dark scheme colors
    --main-blue: #0297ff;
    --light-blue: #01c4ff;
    --secondary-blue: #103652;
    --main-dark: #151618;
    --navbar-bg: #17181a;
    --light-dark: #1c1c20b0;
    --squares-dark: #1c1c20cb;
    --border-color: #28292c92;
    --gray-text: #626263;
    --light-gray-text: #6262635e;

    color-scheme: light dark;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    font-family: 'Poppins';
    background-size: 40px 40px;
    background-image:
    linear-gradient(to right, var(--squares-dark) 1px, transparent 1px),
    linear-gradient(to bottom, var(--squares-dark) 1px, transparent 1px);
    background-color: var(--main-dark);
    position: relative;
    color: #fff;
    position: relative;
    backdrop-filter: blur(3px);
}

ul {
    list-style-type: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

input {
    font-family: inherit;
}

button {
    outline: none;
    border: none;
    display: inline-block;
    width: 100%;
    background-color: var(--main-blue);
    padding: 0.5rem 0;
    border-radius: 4px;
    font-family: 'Poppins';
    margin-top: 0.8rem;
    font-weight: 500;
    cursor: pointer;
}

h1 {
    font-family: 'Zen Dots';
    background-image: -webkit-linear-gradient(180deg,#fff, rgb(117, 116, 116) 90%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    line-height: 1.2;
    text-transform: uppercase;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, var(--main-dark), var(--light-gray-text), var(--main-dark));
    width: 90%;
    margin: 0 auto;
}

.post {
    width: 60%;
    margin: 0 auto;
    background-color: #17181a;
    box-shadow: none;
    border-radius: 12px;
    border: 1px solid rgba(42, 42, 42, 0.566);
    padding: 1.4rem 1.4rem 0.7rem 1.4rem;

    &:not(:last-of-type) {
        margin-bottom: 1rem;
    }

    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        header {
            display: flex;
            align-items: center;
            gap: 0.6rem;

            img {
                border-radius: 50%;
                object-fit: cover;
            }

            .post-user-info {
                h3 {
                    font-weight: 500;
                    font-size: 1rem;
                }

                span {
                    font-size: 0.85rem;
                    color: rgb(157, 157, 157);
                }
            }
        }

        .settings {
            font-size: 1.2rem;
            color: rgb(202, 202, 202);
            cursor: pointer;
            position: relative;

            &-dropdown {
                position: absolute;
                top: 100%;
                left: 0;
                background-color: var(--main-dark);
                padding: 4px;
                border: 1px solid rgba(157, 157, 157, 0.132);
                border-radius: 4px;
                display: block;
                z-index: 3;

                ul {
                    li {
                        font-size: 0.9rem;
                        padding: 0.2rem 0.6rem;
                        border-radius: 4px;

                        &:not(:last-of-type) {
                            margin-bottom: 0.1rem;
                        }

                        &:hover {
                            background-color: #1d1e21;
                        }
                    }
                }
            }
        }
    }

    textarea {
        height: 70px;
        margin-top: 1rem;
        font-size: 0.9rem;
        font-family: inherit;
        resize: none;
        border: none;
        outline: none;
        width: 100%;
        background-color: transparent;
        color: rgba(#fff, 0.9);
    }

    .btn-container {
        display: flex;
        justify-content: flex-end;
        gap: 0.6rem;

        button {
            width: fit-content;
            padding: 0.4rem 1.8rem;
            border-radius: 18px;                        
        }

        .btn-cancel {
            background-color: transparent;
            border: 2px solid #0297ff;
        }
    }

    .post-body {
        margin-top: 1rem;
        font-size: 0.9rem;
        line-height: 1.9;
        color: rgba(#fff, 0.9);
    }

    .reactions {
        margin-top: 0.4rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;
        color: rgb(157, 157, 157);

        .heart-container {
            display: flex;
            align-items: center;
            gap: 0.3rem;
            cursor: pointer;

            &.hearted {
                color: #f91880 !important;
            }

            &:hover {
                color: #f91880;

                span {
                    color: #f91880;
                    background-color: rgba(#f91880, 0.2);
                }
            }

            p {
                font-size: 0.85rem;
                font-weight: 500;
            }
        }

        span {
            display: grid;
            place-items: center;
            border-radius: 50%;
            padding: 0.5rem;
            font-size: 1.1rem;
            margin: 0;
            cursor: pointer;
            transition: background-color 0.1s ease-out;

                &:hover {
                    color: #1d9bf0;
                    background-color: rgba(#1d9bf0, 0.2);
                }
        }
    }
}

.sidebar {
    padding: 2rem 0;
    position: sticky;
    top: 0;
    height: fit-content;

    .logo-container {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        h1 {
            font-size: 1.3rem;
        }

        .icon {
            font-size: 3rem;
            color: rgb(190, 190, 190);
        }
    }

    ul {
        margin-top: 2rem;

        li {
            display: flex;
            align-items: center;
            gap: 0.7rem;
            padding: 0.5rem 0.9rem;
            border-radius: 20px;
            color: rgb(195, 195, 195);
            cursor: pointer;

            a {
                display: flex;
                align-items: center;
                gap: 0.7rem;
            }

            &:hover {
                background-color: #1d1e21;
            }

            .icon {
                font-size: 1.5rem;
            }

            &:not(:last-of-type) {
                margin-bottom: 1.4rem;
            }
        }
    }
}

.container {
    width: 70%;
    margin: 0 auto;
}

.main-page {
    height: 100vh;
    display: grid;
    grid-template-columns: 1.3fr 1fr;

    .sider-container,
    .main-content {
        height: 100%;
    }

    .sider-container {
        padding-right: 1px;
        position: relative;

        .sider {
            background-color: rgba(#151618, 0.9);
            display: grid;
            place-items: center;
            height: 100%;
            border-right: 1px solid var(--border-color);
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url('https://st4.depositphotos.com/3203307/20258/i/600/depositphotos_202580096-stock-photo-cyan-pink-neon-car-trail.jpg');
                background-repeat: no-repeat;
                background-size: 200%;
                background-position: center;
                z-index: -1;
                filter: blur(60px);
                opacity: 0.7;
            }

            .content {
                text-align: center;
                position: relative;

                h1 {
                    font-size: 3rem;
                }

                h3 {
                    font-weight: 400;
                    font-size: 1rem;
                    margin-top: 1rem;
                    color: rgb(145, 145, 145);
                }

                .icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 24rem;
                    color: rgba(#fff, 0.3);
                    z-index: -1;
                }
            }
        }
    }
    
    .main-content {
        display: grid;
        place-items: center;
        position: relative;

        .footer {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            padding: 0.3rem 0;
            font-size: 0.8rem;
            color: #3c3c3c;
        }
        
        .container {
            display: grid;
            place-items: center;

            form {
                display: block;
                width: 100%;
                background-image: linear-gradient(to bottom right, var(--light-gray-text), var(--main-dark));
                border-radius: 4px;
                padding: 1px;
                
                .form-container {
                    background-color: rgba(#151618, 0.85);
                    border-radius: 4px;
                    padding: 1.2rem 1.4rem;
                    
                    .title {
                        h2 {
                            font-size: 1.8rem;
                            margin-bottom: 0.4rem;
                            background-image: -webkit-linear-gradient(180deg,#fff, rgb(117, 116, 116));
                            -webkit-text-fill-color: transparent;
                            -webkit-background-clip: text;
                            line-height: 1.2;
                        }

                        p {
                            font-size: 0.9rem;
                            color: rgb(159, 159, 159);
                            margin-bottom: 1rem;
                        }
                    }

                    .form-control {

                        &:not(:last-of-type) {
                            margin-bottom: 0.9rem;
                        }

                        &.check {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;
                            
                            label {
                                text-transform: none;
                                cursor: pointer;
                            }
                            
                            input {
                                cursor: pointer;
                                width: fit-content;
                                filter: hue-rotate(330deg);
                            }
                        }
    
                        label {
                            display: block;
                            font-size: 0.9rem;
                            text-transform: capitalize;
                            font-weight: 500;
                            color: rgb(189, 189, 189);
                        }
    
                        input { 
                            width: 100%;
                            outline: none;
                            border: 1px solid var(--light-gray-text);
                            background-color: var(--main-dark);
                            padding: 0.6rem 0.8rem;
                            border-radius: 4px;
                            transition: border 0.1s ease;

                            &:focus {
                                // border: 1px solid rgb(81, 81, 81) !important;
                            }

                            &::placeholder {
                                color: #555556;
                            }
                        }
                    }

                    span {
                        &.link {
                            font-size: 0.9rem;
                            color: rgb(193, 193, 193);

                            strong {
                                color: var(--light-blue);
                                font-weight: 500;
                                text-decoration: underline;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
       }
    }
}

.interests {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;

    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 0.3rem 0;
        font-size: 0.8rem;
        color: #3c3c3c;
    }

    .container {
        flex: 1;
        text-align: center;
        display: grid;
        place-items: center;

        p {
            font-size: 0.9rem;
            color: rgb(142, 142, 142);
            width: 70%;
            margin: 0 auto;
            margin-top: 0.8rem;
        }

        .btn-container {
            display: grid;
            place-items: center;
            margin-top: 1rem;

            button {
                width: fit-content;
                padding: 0.5rem 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.3rem;
                box-shadow: 0 0 8px rgba(#000, 0.2);

                .icon {
                    display: grid;
                    place-items: center;
                }
            }
        }
        
        .main-interests-list {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            padding: 3rem 0;
            

            .interest {
                display: flex;
                align-items: center;
                gap: 0.6rem;
                border-radius: 6px;
                overflow: hidden;
                background-color: #151618;
                border-top: 1px solid #2e2e2e;
                border-bottom: 1px solid #2e2e2e;
                border-right: 1px solid #2e2e2e;
                cursor: pointer;

                img {
                    width: 50px;
                    height: 40px;
                    object-fit: cover;
                    display: block;
                    filter: grayscale(0.9);
                }

                &:hover {
                    border-top: 1px solid #4d4d4d;
                    border-bottom: 1px solid #4d4d4d;
                    border-right: 1px solid #4d4d4d;
                    
                    span {
                        color: rgb(127, 126, 126) !important;
                    }
                }

                &.selected {
                    border-top: 1px solid #4d4d4d;
                    border-bottom: 1px solid #4d4d4d;
                    border-right: 1px solid #4d4d4d;
                    
                    span {
                        color: rgb(127, 126, 126) !important;
                    }
                    
                    img {
                        filter: grayscale(0);
                    }
                }

                span {
                    font-size: 0.8rem;
                    font-weight: 500;
                    text-transform: capitalizes;
                    color: #6b6b6b;
                    margin-right: 0.6rem;
                    user-select: none;
                }
            }
        }
    }
}

nav {
    width: 60%;
    margin: 0 auto;
    margin-top: 0.7rem;
    background-image: linear-gradient(to bottom right, var(--light-gray-text), var(--main-dark));
    border-radius: 8px;
    padding: 1px;
    box-shadow: 0 0 6px rgba(#000, 0.4);
    position: sticky;
    top: 0.7rem;
    
    header {
        background-color: #151618bd;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.7rem 1.6rem;
        backdrop-filter: blur(3px);

        .logo-container {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        .logo {
            font-size: 2.6rem;
            color: #a9a9a9;
        }

        ul {
            display: flex;
            align-items: center;
            font-size: 0.9rem;

            .user {
                font-weight: 500;
                padding-left: 1rem;
                border-left: 1px solid #2e2e2e;
                position: relative;

                a {
                    display: flex;
                    align-items: center;
                    gap: 0.3rem;
                }

                .dropdown-list {
                    position: absolute;
                    top: calc(100% + 0.4rem);
                    left: 1rem;
                    transform: translateX(-60%);
                    background-color: rgba(#15161806, 0.05);
                    backdrop-filter: blur(3px);
                    opacity: 0;
                    border: 1px solid #2e2e2e;
                    border-radius: 6px;
                    width: 200px;
                    pointer-events: none;
                    z-index: 2;
                    transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out;

                    ul {
                        display: flex;
                        flex-direction: column;
                        overflow: hidden;
                        // padding: 4px;

                        li {
                            width: 100%;
                            padding: 0.3rem 0.6rem;
                            border-radius: 4px;

                            &:hover {
                                background-color: rgba(#2e2e2e, 0.1);
                            }
                            
                            &:not(:last-of-type) {
                                margin-bottom: 0.3rem;
                            }
                        }
                    }
                }

                &:focus-within {
                    color: #706f6f;

                    .dropdown-list {
                        transform: translateX(0);
                        opacity: 1;
                        pointer-events: auto;
                    }
                }
            }

            li {
                color: #555555;
                cursor: pointer;

                &:hover {
                    color: #706f6f;
                }

                &:first-of-type {
                    padding-right: 1rem;
                }

                .list-item-icon,
                .icon {
                    font-weight: 600;
                    display: grid;
                    place-items: center;
                }

                .list-item-icon {
                    font-size: 1.2rem;
                }

                .icon {
                    font-size: 0.85rem;
                }
            }
        }
    }
}

// auto resizing textarea

.txtstuff {
    resize: none;
    overflow: hidden;
}

.hiddendiv {
    padding: 5px;
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: red;
    position: absolute;
    top: -100%;
    left: -100%;

    &::after {
        content: '\200B';
    }
}

.common {
    width: 100%;
    min-height: 80px;
    font-family: inherit;
    font-size: 0.9rem;
    overflow: hidden;
}

.profile {
    min-height: 100vh;

    .container {
        .top-profile {
            height: 160px;
            background-color: #1e1f21;
            position: relative;

            .icon {
                display: grid;
                place-items: center;
                position: absolute;
                top: 8px;
                left: 8px;
                background-color: #5555556b;
                padding: 0.5rem;
                font-size: 1.2rem;
                border-radius: 50%;
                color: #908f8f;
                cursor: pointer;

                &:hover {
                    background-color: #5555557d;
                    color: #a4a3a3;
                }
            }

            .img-container {
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 180px;
                aspect-ratio: 1/1;
                border-radius: 50%;
                overflow: hidden;
                padding: 2px;
                outline: 3px solid #2e2e2e;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }

        .user-info {
            padding: 110px 0 2rem 0;
            text-align: center;
            background-color: #111;
            border-bottom: 1px solid #6262632b;

            .followers-followees {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                margin-top: 0.5rem;

                article {
                    display: flex;
                    gap: 0.2rem;
                    font-size: 0.9rem;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }

                    strong {
                        font-weight: 500;
                    }

                    span {
                        color: #908f8f;
                    }
                }
            }
            
            .join-date {
                font-size: 0.85rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.4rem;
                color: #787878;
                margin-top: 0.8rem;
            }

            .btn-container {
                button {
                    width: fit-content;
                    padding: 0.4rem 1.7rem;
                }
            }

            h2 {
                font-size: 1.7rem;
                text-transform: capitalize;
                margin-bottom: 0.9rem;
            }

            p {
                max-width: 70%;
                margin: 0 auto;
                margin-bottom: 0.9rem;
                font-size: 0.9rem;
                color: rgb(143, 143, 143);
            }
        }

        .posts {
            background-color: #111;
            padding: 3rem 0;
        }
    }
}

.profile-settings {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    nav {
        width: 70%;
    }

    .container {
        flex: 1;
        margin-top: 2rem;

        .main-settings {
            background-color: var(--main-dark);
            box-shadow: 0 0 6px rgba(#000, 0.3);
            border-radius: 6px;
            border: 1px solid rgba(37, 37, 37, 0.566);
            
            header {
                padding: 2rem;
                border-bottom: 1px solid rgba(37, 37, 37, 0.566);

                h4 {
                    font-family: 'Poppins';
                    font-size: 2rem;
                    font-weight: 600;
                    text-transform: capitalize;
                    color: rgb(176, 176, 176);
                }
            }

            .settings {
                padding: 2rem;

                article {
                    background-color: #17181a;
                    border: 1px solid rgba(42, 42, 42, 0.653);
                    border-radius: 6px;
                    overflow: hidden;

                    &:not(:last-of-type) {
                        margin-bottom: 1.4rem;
                    }

                    .main-info {
                        padding: 1.4rem;

                        &.picture {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .img-container {
                                border-radius: 50%;
                                overflow: hidden;
                                height: 70px;
                                width: 70px;
                                cursor: pointer;

                                label {
                                    cursor: pointer;
                                }

                                img {
                                    display: block;
                                    height: 100%;
                                    width: 100%;
                                    object-fit: cover;
                                }
                            }
                        }

                        h5 {
                            font-size: 1.1rem;
                            font-weight: 500;
                        }

                        p {
                            font-size: 0.85rem;
                            color: rgb(171, 171, 171);
                        }

                        input {
                            outline: none;
                            border: 1px solid rgba(65, 65, 65, 0.566);
                            background-color: #151618;
                            padding: 0.5rem 0.6rem;
                            border-radius: 5px;
                            margin-top: 0.8rem;
                            width: 30%;
                            font-size: 0.8rem;
                            color: rgb(219, 219, 219);
                        }
                        
                        .form-control {
                            &:not(:last-of-type) {
                                margin: 1rem 0;
                            }

                            label {
                                display: block;
                                font-size: 0.85rem;
                                color: rgb(197, 197, 197);
                                font-weight: 500;
                                margin-bottom: 0.2rem;
                            }

                            input {
                                margin: 0;
                            }
                        }
                    }

                    .info {
                        background-color: rgba(17, 17, 17, 0.427);
                        padding: 0.5rem 1rem;
                        border-top: 1px solid rgba(42, 42, 42, 0.566);
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        p {
                            font-size: 0.85rem;
                            color: rgb(147, 147, 147);
                        }

                        button {
                            width: fit-content;
                            background-color: #fff;
                            color: #111;
                            padding: 0.4rem 1.5rem;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

.feed {
    min-height: 100vh;

    .container {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 3fr 1.5fr;
        gap: 1.7rem;

        .main-feed {
            padding-bottom: 1rem;

            .search-bar {
                padding: 1rem;
                background-color: rgba(#000, 0.3);
                border-top: 1px solid rgba(42, 42, 42, 0.566);
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;
                backdrop-filter: blur(6px);
                position: sticky;
                top: 0;
                border: 1px solid rgba(69, 69, 69, 0.363);
                z-index: 4;
                margin-bottom: 0.8rem;
                
                input {
                    width: 100%;
                    border: 1px solid rgba(69, 69, 69, 0.363);
                    outline: none;
                    background-color: #151618c4;
                    padding: 0.5rem 0.7rem;
                    border-radius: 18px;
                    color: rgb(206, 206, 206);
                }
            }

            .post {
                width: 100%;
            }
        }

        .new-post {
            background-color: #1d1e21;
            align-self: flex-start;
            margin-top: 2rem;
            padding: 1rem;
            border-radius: 8px;
            border: 1px solid rgba(58, 58, 58, 0.566);
            position: sticky;
            top: 2rem;

            header {
                display: flex;
                align-items: center;
                gap: 0.8rem;

                .img-container {
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    overflow: hidden;

                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                h4 {
                    font-weight: 500;
                    font-size: 0.9rem;
                }
            }

            textarea {
                background-color: transparent;
                width: 100%;
                resize: none;
                height: 70px;
                margin-top: 0.7rem;
                font-family: inherit;
                outline: none;
                border: none;
            }
        }
    }
}